@CHARSET "UTF-8";
/**
 * Clases Generales para los formularios
 */
 #Form{
		overflow: auto;
		margin-left: 2em;
		padding-left: 2em;
		border-left: #f2f2f2 10px solid;
		font-family: "Arial";
		color: #666;
		font-size: 12px;
 }
 #Form  label {
 		width: 7em;
		float: left;
		text-align: left;
		margin-right: 0.1em;
 }
  #Form input, select, textarea {
		border:1px #ccc solid;
		margin-bottom:0.3em;
		padding-left: 0.3em;
		padding-right: 0.3em;
	}
	
	#Form .inputBtn {
		padding-left: 7em;
	}
	
	.pointer {
				cursor: pointer;
	}
	
	#FormError {

		color: Red;

	}